body {
  padding-top: 60px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

body img {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 9999;
  width: 60px;
}

/* Axis */

.axis path,
.axis line {
    fill: none;
    stroke: black;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.axis text {
    /*font-family: sans-serif;
    font-size: 11px;*/
}

/* Graph */

.area {
  fill: lightsteelblue;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.dot {
  fill: white;
  stroke: steelblue;
  stroke-width: 1.5px;
}

/* Bars */

.bar rect {
  fill: steelblue;
}

.bar text.value {
  fill: white;
}

.x.bar.axis text {
  fill: none;
}

.x.bar.axis line {
  stroke: none;
}

.x.bar.axis path, .y.bar.axis path {
  stroke: none;
}

/* Timelines */

div.graph_title {
  position: absolute;
  margin-top: 20px;
  right: 30px;
}

div[id^="graph_"] {
  margin-top: 40px;
}


/* Journal of calls */

/*.table th {
  text-align: center;
  vertical-align: middle;
}

.rotated {
  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg);
  width: 14px;
  padding-top: 5px;
}*/

/* Activities peaks analysis */

/*rect {
  fill: #eeeeee;
}

.grid line {
  stroke: #fff;
}

.grid line.minor {
  stroke-opacity: .5;
}

.grid text {
  display: none;
}

.grid path, .axis path {
  display: none;
}*/


