body {
  padding-top: 60px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    /*font-family: sans-serif;
    font-size: 11px;*/
}

/* Activity timelines */

.area {
  fill: lightsteelblue;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.dot {
  fill: white;
  stroke: steelblue;
  stroke-width: 1.5px;
}

/* Journal of calls */

/*.table th {
  text-align: center;
  vertical-align: middle;
}

.rotated {
  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg);
  width: 14px;
  padding-top: 5px;
}*/

/* Activities peaks analysis */

/*rect {
  fill: #eeeeee;
}

.grid line {
  stroke: #fff;
}

.grid line.minor {
  stroke-opacity: .5;
}

.grid text {
  display: none;
}

.grid path, .axis path {
  display: none;
}*/

/* Directions */

/*.bar rect {
  fill: steelblue;
}

.bar text.value {
  fill: white;
}*/
